  <div class="login-container">
    <form [formGroup]="form" class="login-form" autocomplete="on">
      <h2 class="mb-4">Gestión de inventarios</h2>
      <div class="mb-3">
        <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="email"
          placeholder="Correo electrónico" />
        <div *ngIf="form.get('email')?.hasError('required') && form.pristine === false" style="color: red;">El email
          es requerido</div>
        <div *ngIf="form.get('email')?.hasError('email') && form.pristine === false" style="color: red;">Ingrese email
          válido</div>
      </div>

      <div class="mb-3">
        <input type="password" class="form-control" aria-describedby="emailHelp" formControlName="password"
          placeholder="Contraseña" />
        <div *ngIf="form.get('password')?.hasError('required') && form.pristine === false" style="color: red;">
          Contraseña es requerida</div>
      </div>
      <button type="submit" label="Iniciar" class="btn btn-dark purple btn-block mb-2" [disabled]="!form.valid"
        (click)="login()">
        Iniciar sesión
      </button>

    </form>

  </div>





