<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Gestión de inventarios</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/superadmin">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/branchs">Sucursales</a>
        </li>
        <li class="nav-item" style="float: right;">
          <a class="nav-link" (click)="logout()" routerLink="/login">Salir</a>
        </li>
      </ul>
    </div>
  </nav>