<div class="col-md-8 offset-md-3">
    <div class="card-container">
        <div class="card">
            <div class="card-body">
                <p class="card-text">Tipo: {{productInCar.type}}</p>
                <p class="card-text">Nombre: {{productInCar.name}}</p>
                <p class="card-text">Precio: {{productInCar.price | currency: 'COP':'symbol':'1.0-0'}}</p>
                <p class="card-text">Unidades: {{productInCar.amount}}</p>
          
               
            </div>
        </div>
    </div>
</div>
