.login-container {
    background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-form {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    text-align: center;
    margin-bottom: 15%;
   
   
  }
  
  .login-form h2 {
    color: #333;
    font-weight: bold;
  }
  
  .login-form .form-control {
    margin: 8px 0;
  }
  
  .login-form .btn-primary {
    background-color: #47a1e5;
    border: none;
  }
  
  .login-form .btn-primary:hover {
    background-color: #3494d6;
  }

  .select-arrow-container {
    position: relative;
}

.select-with-arrow {
    padding-right: 40px; /* Ajusta el espacio para la flecha a la derecha */
}

.select-arrow {
    position: absolute;
    top: 50%;
    right: 10px; /* Ajusta la distancia de la flecha desde el borde derecho */
    transform: translateY(-50%);
    pointer-events: none;
}
